<div class="container" id="container">
    <div class="form-container sign-in">
        <form>
            <h1>Iniciar sesión</h1>

            <input type="email" placeholder="Email">
            <input type="password" placeholder="Contraseña">
            <a href="#">He olvidado mi contraseña</a>
            <button>Iniciar sesión</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-right">
                <h1>¡Bienvenido a Amurumis!</h1>
                <p>Inicie sesión para acceder a sus listas de favoritos. ¡Gracias por ser parte de nuestra comunidad!</p>
            </div>
        </div>
    </div>
</div>