<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://imagenes.20minutos.es/files/image_1920_1080/files/redes_cinemania/uploads/imagenes/2023/06/22/imagen-de-gregory-house-en-doctor-house.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://i.blogs.es/b981bd/malcolm-in-the-middle-1663235832/1366_2000.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/95E3ABE4E4479C0F57F249F70E08093A150E8537D77C730302DD5D8E7892CB96/scale?width=600&aspectRatio=1.78&format=webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>