<div id="fila" class="row">
    <div class="card" style="width: 18rem;">
        <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/47FCE4F29DC1D7C1FC72071B226D58E2FC345B4C258E88683E5250F7A4BA96B4/scale?width=1200&amp;aspectRatio=1.78&amp;format=webp" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">En Nueva York, el 31 de diciembre de 1999, un joven fracasado, Fry, que trabaja repartiendo pizzas, es accidentalmente congelado en un laboratorio criogénico. Cuando se despierta han pasado 1000 años, se encuentra en "Nueva" Nueva York, y descubre que el mundo ha sufrido algunas modificaciones.</p>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="https://es.web.img2.acsta.net/pictures/15/07/20/19/16/523100.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Rugrats es una serie de televisión de dibujos animados que cuenta el día a día de varios bebés. Ellos son Tommy, Chuckie, Phil, Lil y Angelica. Así se conocen los acontecimientos que surgen en su vida y cómo ellos son capaces de transformarlos en una gran aventura gracias a su gran imaginación.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/VGEWOAXXFZEHRPC427NUDBZQRU.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">La adolescente Zoey Brooks, de 13 años, se transforma en una de las primeras estudiantes de un exclusivo internado que acaba de abrir sus puertas a las alumnas mujeres.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/S/pv-target-images/a4c72c3ee7003378177d3cdca0ccd495072aa80302c92ee5de7afd9882bdbb40.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">La serie trata sobre la vida del grupo de amigos y los problemas que cualquier adolescente suele tener, en sus noviazgos o la escuela.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://larepublica.cronosmedia.glr.pe/migration/images/TOLKNTEWAFHKXEJAYECLRYQYW4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">'¡Oye, Arnold!' es una serie de animación estadounidense que cuenta el día a día de Arnold y sus amigos. Arnold es un niño de 9 años que va a cuarto curso y que vive en una ciudad ficticia que mezcla elementos de otras, como Brooklyn y Nueva York, y vive en una casa de huéspedes con sus abuelos.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/ncom/es_LA/games/switch/s/samurai-jack-battle-through-time-switch/hero" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Samurai Jack cuenta la historia de un joven príncipe cuyo imperio ha sido destruido por un demonio caído de los cielos llamado Aku. Jack consigue huir de la destrucción y dedica el resto de su vida a entrenarse para poder recuperar su reino y derrotar Aku, vengando así la muerte de todo su pueblo.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://ntvb.tmsimg.com/assets/p184689_b_h10_ah.jpg?w=960&h=540" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Cuatro amigas de toda la vida que están en sus treinta y cuarenta años viven su soltería al máximo en Nueva York. Carrie, una escritora, junto con Charlotte, Miranda, y Samantha experimentarán toda clase de eventos que una mujer puede tener en los bares, restaurantes, y clubes más populares de toda la ciudad.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://e.rpp-noticias.io/xlarge/2020/02/26/342834_905965.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Cómo Conocí a Tu Madre es una novedosa y fresca comedia acerca de Ted (Josh Radnor) y de cómo se enamoró. Cuando Marshall (Jason Segel), el mejor amigo de Ted, y Lily(Alyson Hannigan) deciden unir sus vidas, Ted decide que es momento de buscar a su propia media naranja</p>
        </div>
      </div>
</div>