<div id="fila" class="row">
    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/81v8WQ-eF-L._AC_UF894,1000_QL80_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Gladiator</h5>
        <p class="card-text">El general romano Máximo es el soporte más leal del emperador Marco Aurelio, que lo ha conducido de victoria en victoria. Sin embargo, Cómodo, el hijo de Marco Aurelio, está celoso del prestigio de Máximo y aún más del amor que su padre siente por él.</p>
        <a href="https://www.primevideo.com/-/es/detail/Gladiador/0I2PF17D25K06KVEQKVXSDD0RR" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/M/MV5BMGEzZjdjMGQtZmYzZC00N2I4LThiY2QtNWY5ZmQ3M2ExZmM4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Scary Movier</h5>
          <p class="card-text">En esta parodia de las películas de terror modernas, un año después de atropellar a un hombre y deshacerse del cadáver, un grupo de adolescentes es acechado por un asesino en serie bastante inútil..</p>
          <a href="https://tv.apple.com/es/movie/scary-movie/umc.cmc.ftmiadng89pmk5c3nq7j6u9" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://lumiere-a.akamaihd.net/v1/images/scale_66_a644eeee.jpeg?region=628,1,812,809" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Xmen</h5>
          <p class="card-text">Los X-Men son seres que poseen increíbles y peligrosos poderes que derivan de extraordinarias mutaciones genéticas. Bajo la tutela del profesor Xavier, sus poderes son puestos al servicio del bien. Ahora deberán proteger al mundo de Magneto.</p>
          <a href="https://www.disneyplus.com/es-419/movies/x-men/4QoNe0ea49nP" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://pics.filmaffinity.com/Naaufrago-338775958-large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Náufrago</h5>
          <p class="card-text">Chuck Noland (Tom Hanks) es un prestigioso analista de sistemas en la empresa multinacional de mensajería FedEx. Este trabajo le obliga a viajar constantemente a lugares lejanos, donde enseña a los empleados cómo aprovechar al máximo el tiempo con el propósito de entregar los envíos lo antes posible.</p>
          <a href="https://play.mercadolibre.cl/ver/naufrago/62a34192b1214ea7bb1189b8aa44afc9" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/S/pv-target-images/53384599c031346ae9bcedb27028424f4310dd39faeae621f7f16bfab1c110c2._SX1080_FMjpg_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">El Camino Hacia El Dorado</h5>
          <p class="card-text">La cinta cuenta la historia de dos estafadores españoles en los tiempos de Hernán Cortés, quienes llegan por azares del destino a la ciudad de El Dorado, donde son confundidos como dioses.</p>
          <a href="https://www.netflix.com/cl/title/60000171?source=35" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://i0.wp.com/culturacolectiva.com/wp-content/uploads/images/D6SKGZ3D4FACREY4CS4BWN32YQ.jpg?ssl=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pollitos en Fuga</h5>
          <p class="card-text">Ambientada en Inglaterra en 1959, Pollitos en fuga narra la historia de las gallinas de la granja de los Tweedys que, habiendo sido reprimidas irremediablemente y enfrentando una muerte segura, llevan miles de intentos de escape, pero siempre son atrapadas.</p>
          <a href="https://play.google.com/store/movies/details?id=rJ0sSwyBu3o" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


</div>